<div class="mt-2 "  >
    <div class="card mt-2" style="width: 18rem;" style="display: inline-flexbox;" *ngFor="let personas of personal">
        <div class="card-body bg-dark text-white" >
          <h5 class="card-title">{{personas.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{personas.especialidad}}</h6>
          <p class="card-text">{{personas.des}}.</p>
          <p class="card-link">edad {{personas.edad}}</p>
        </div>
      </div>
</div>
